/*!*************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/dracula-color-palette.css ***!
  \*************************************************************************************/
:root {

    /* Dracula Color Palette */

    --background-color:     #282a36;
    --current-line:         #44475a;
    --foreground:           #f8f8f2;
    --comment:              #6272a4;
    --cyan:                 #8be9fd;
    --green:                #50fa7b;
    --orange:               #ffb86c;
    --pink:                 #ff79c6;
    --purple:               #bd93f9;
    --red:                  #ff5555;
    --yellow:               #f1fa8c;
}

.dra-primary {background-color: var(--purple);}
.dra-dark {background-color: var(--background-color);}
.dra-info {background-color: var(--cyan);}
.dra-light {background-color: var(--foreground);}
.dra-danger {background-color: var(--red);}
.dra-success {background-color: var(--green);}
.dra-warning {background-color: var(--yellow);}
.dra-secondary {background-color: var(--current-line);}

.txt-primary {color: var(--purple);}
.txt-dark {color: var(--background-color);}
.txt-info {color: var(--cyan);}
.txt-light {color: var(--foreground);}
.txt-danger {color: var(--red);}
.txt-success {color: var(--green);}
.txt-warning {color: var(--yellow);}
.txt-secondary {color: var(--current-line);}

/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/default.css ***!
  \***********************************************************************/
@font-face {
    font-family: FontAwesome;
    src: url(../../src/fonts/fa-solid-900-b1a653db79258eeccc5d.ttf);
}
@font-face {
    font-family: fredoka;
    src: url(../../src/fonts/Fredoka-Regular-3b67ea580c9908cca763.ttf);
}
* {
    font-family: fredoka;
}

body {
    background-color: var(--background-color);
    color: var(--foreground);
}

/* font awesome icons */

.fa-solid::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fa-house::before {font-family: FontAwesome; font-weight: 900; content: "\f015";}
.fa-award::before {font-family: FontAwesome; font-weight: 900; content: "\f559";}
.fa-headset::before {font-family: FontAwesome; font-weight: 900; content: "\f590";}
.fa-graduation-cap::before {font-family: FontAwesome; font-weight: 900; content: "\f19d";}
.fa-diagram-project::before {font-family: FontAwesome; font-weight: 900; content: "\f542";}
.fa-wand-magic-sparkles::before {font-family: FontAwesome; font-weight: 900; content: "\e2ca";}

/* var */
.rt-4 {
    padding-top: 4.8rem;
}


/* navbar */
.nav-link:hover, .navbar-brand:hover {
    transition: 0.4s all;
    color: var(--pink);
}

/* banner */

.images {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../src/img/a868a577f847b38555ce.jpg);
}
