/* 
    Made by Naufal Faisal 05-06-2022
*/

/* fonts */
* {font-family: 'Fredoka', sans-serif;}

/*  */
.i-br-bm-dark:hover i {border-bottom: 2px solid var(--bs-dark)}
/* .i-br-bm-light:hover i {border-bottom: 2px solid var(--bs-light)} */

/*  */
.img-cnfg {aspect-ratio: 1/1;background-size: cover;background-position: center;background-repeat: no-repeat;}

/* cursor global */
.cursor-pointer {cursor: pointer;}

/*  */

/* welcome card */
.crd-text {top: 12rem;}
.crd-text div:last-child {font-size: 16px;}
.crd-text div:first-child {font-size: 26px;}
.crd-img {height: 25rem;filter: blur(4px);background-size: cover;background-position: center;background-repeat: no-repeat;}


/* tampilan tablet untuk welcome card*/
@media screen and (max-width: 991.98px) {
    .crd-text {top: 7.5rem;}
    .crd-img {height: 15rem;}
    .crd-text div:last-child {font-size: 14px;}
    .crd-text div:first-child {font-size: 20px;}
}

/* tampilan mobile untuk welcome card*/
@media screen and (max-width: 575.98px) {
    .crd-text {top: 5.5rem;}
    .crd-img {height: 12rem;}
    .crd-text div:last-child {font-size: 10px;}
    .crd-text div:first-child {font-size: 16px;}
}
