/* 
    Made by Naufal Faisal 05-06-2022
*/

/* global settings */
* {font-family: 'Fredoka', sans-serif;}
.g-animation {transition: 0.4s ease-in-out;}

/* cursor */
.cursor-pointer {cursor: pointer;}

/*  */
div.social a:hover {color: #000;}
div.social a:hover i {border-bottom: 2px solid #000;}

/* welcome card */
div.images {height: 25rem;}
div.text-card {top: 12rem;}
div.pb-max {padding-bottom: 200px;}
div.menu {justify-content: space-between;}
div.text-card div:last-child {font-size: 16px;}
div.text-card div:first-child {font-size: 26px;}


/* tampilan tablet untuk welcome card*/
@media screen and (max-width: 991px) {
    div.hide{display: none;}
    div.images {height: 15rem;}
    div.text-card {top: 7.5rem;}
    div.menu {justify-content: center;}
    div.text-card div:last-child {font-size: 14px;}
    div.text-card div:first-child {font-size: 20px;}
}

/* tampilan mobile untuk welcome card*/
@media screen and (max-width: 425px) {
    div.images {height: 12rem;}
    div.text-card {top: 5.5rem;}
    div.text-card div:last-child {font-size: 10px;}
    div.text-card div:first-child {font-size: 16px;}
}