/* punya gwej */
/* @font-face {
    font-family: Z003;
    src: url(./fonts/Z003-MediumItalic.otf);
}

@font-face {
    font-family: fredoka;
    src: url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
} */

div.box {
    aspect-ratio: 16/8;
    overflow: hidden;
    width: 90rem;
    /* display: none; */
}

.Z003 {
    font-family: Z003;
}
.fs-fredoka {
    font-family: fredoka;
}